<div class="post">
<form action="#" method="post">
    <h2>Sign Up</h2>
      <p>
        <label for="password" class="floatLabel">Name</label>
        <input id="Email" name="username"  type="text" [(ngModel)]="username" (ngModelChange)="change($event)">
      </p>
      
      <p>
        <label for="Email" class="floatLabel"></label>
        <input id="Email" name="Email" type="text"  [(ngModel)]="email" (ngModelChange)="change($event)">
      </p>
      <p>
        <label for="password" class="floatLabel">Password</label>
        <input id="password" name="password"  type="password" [(ngModel)]="password" (ngModelChange)="change($event)">
        <span>Enter a password longer than 8 characters</span>
      </p>
      <p>
        <label for="confirm_password" class="floatLabel">Confirm Password</label>
        <input id="confirm_password" name="confirm_password" type="password">
        <span>Your passwords do not match</span>
      </p>
      <p>
        <input type="submit" name="submit"value="Create My Account" id="submit" (click)="register()">
      </p>
      <p style="text-align: center"><a  class="login" href="/login">Login</a></p>
</form>
</div>
